@import "tailwindcss";
@plugin "daisyui" {
  themes: pastel --default, forest;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.libre-baskerville {
  font-family: "Libre Baskerville", serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}
